<header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
</header>

<div class="alert alert-info" role="alert">
  <strong>There are currently <%= @product_count %> different products in the store falling under the rubric of <%= @category_count %>  distinct categories.</strong>
</div>
<%= link_to "Products", admin_products_path, class: 'btn btn-lg btn-primary' %>
<%= link_to "Categories", admin_categories_path, class: 'btn btn-lg btn-primary' %>

